
.title h2 {
    font-size: 2rem;
    color: brown;
    text-align: center;
    margin: 20px 0;
   
    background-color: #f0f0f0;
}

.show{
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.hide {
    display: none;
}
.custom-button {
  background-color: #6200ea;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right:  10px; ;
}

.custom-button:hover {
  background-color: #4500b5;
}